* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.profile {
	width: 600px;
	margin: 0 auto;
	height: 1000vh;
	padding: 0 15px;
	border-left: solid 1px #3a444c;
	border-right: solid 1px #3a444c;
}
.profile_card {
	width: 600px;
	margin: 0 auto;
}

// Profile

.profile__name-name {
	font-weight: 700;
	font-size: 19px;
	line-height: 22px;
	color: #fff;
}
.profile__name-tweet {
	font-weight: 500;
	font-size: 13px;
	color: #8899a6;
	line-height: 15px;
}
.profile__container {
	width: 600px;
	height: 53px;
	background: #17202a;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.profile__fixed {
	width: 600px;
	position: fixed;
	background: #17202a;
	z-index: 4;
	opacity: 0.7;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.profile__scroll {
	display: flex;
}
.profile_icon {
	margin-top: 19px;
	margin-right: 25px;
	& > img {
		// width: 15px;
		// height: 15px;
	}
}
.profile__name {
	margin-top: 5px;
}

.profile__parent > div {
	height: 100%;
	width: 100%;
}
.profile__child {
	position: relative;
}
.profile__child > img {
	position: absolute;
	width: 135px;
	height: 135px;
	border-radius: 283671px;
	top: -70px;
	left: 2%;
	z-index: 2;
}
.profile__block {
	display: flex;
	justify-content: space-between;
}
.profile__info {
	margin-top: 63px;
	padding: 0 15px;

	& > h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 21px;
		line-height: 25px;
		color: #fff;
		letter-spacing: -0.012em;
	}

	& > p {
		margin-top: 10px;
		color: #fff;
	}
}
.profile__btn {
	& > button {
		text-transform: none;
		margin-top: 10px;
		background-color: inherit;
		width: 112px;
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 7px;
		border: 1px solid #1da1f2;
		border-radius: 9999px;
		color: #fff;
		background-color: #1da1f2;
		// transition: all 0.9 ease;
		transition-duration: 0.9;

		&:hover {
			// background-color: #1da1f2;
		}
	}
}
.profile__info-data {
	display: flex;
	margin-top: 10px;
}
.profile__location {
	display: flex;
	align-items: center;
	& > span {
		margin-right: 10px;
		font-size: 16px;
		font-weight: 500;
		color: #8899a6;
		letter-spacing: -0.02em;
	}
	& > svg {
		margin-right: 7px;
	}
}
.profile__info-followers {
	display: flex;
	margin-top: 10px;
}
.profile__title {
	display: flex;
	align-items: center;
	& > span {
		margin-right: 15px;
		font-size: 16px;
		font-weight: 500;
		color: #8899a6;
		letter-spacing: -0.02em;
	}
	& > h5 {
		color: #ffffff;
		margin-right: 4px;
	}
}
.profile__id {
	width: 600px;
}
.profile__category {
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	// border-bottom: 1px solid #3a444c;
	// justify-content: space-between;

	& > div {
		// width: 400px;
		font-size: 16px;
		color: #8899a6;
		// padding-right: 50px;
		margin-right: 20px;
		align-items: center;
		text-align: center;
		transition-duration: 0.2s;
		border-bottom: none;
		& > div {
			& > button {
				margin-right: 20px;
			}
		}
	}
}
.css-3rulgx-MuiButtonBase-root-MuiTab-root {
	transition-duration: 0.2s;
	&:hover{
		border-radius: 7px;
		background-color: #6b6e70;
	}
	&:not(:last-child) {
		margin-right: 90px !important;
	}
}
.css-ypiqx9-MuiDialogContent-root{
	padding: 20px 10px !important;
}
.css-19kzrtu {
	padding: 0 !important;
}