.profile {
	width: 600px;
	margin: 0 auto;
	padding: 0 15px;
	border-left: solid 1px #0f1419;
	border-right: solid 1px #0f1419;
}

// Profile
.profile_icon {
	margin-right: 35px;
	& > img {
		width: 100%;
	}
}
.profile__name {
	margin-top: 5px;
}
.profile__name-name {
	font-weight: 700;
	font-size: 19px;
	line-height: 22px;
	color: #fff;
}
.profile__name-tweet {
	font-weight: 500;
	font-size: 13px;
	color: #8899a6;
	line-height: 15px;
}
.profile__container {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.profile__parent {
	background-image: url(./img//Placeholder.png) no-repeat;
	background-size: cover;

}
