.card {
	width: 600px;
	margin: 0 auto;
	padding: 0 16px;
	border-left: solid 1px #3a444c;
	border-right: solid 1px #3a444c;
}
.card_title {
	font-size: 19px;
	color: white;
}
.card_user {
	margin-top: 10px;
}
.card_user_inp {
	width: 100%;
	outline: none !important;
	border: 0 solid #17202a;
	color: #5b7083;
	font-weight: 500;
	font-size: 20px;
	padding-left: 1rem;
	background-color: #17202a;
	// color: #fff;

	&:focus{
		color: rgb(233, 231, 231);;
	}
}
.card-sholder {
	padding-left: 15px;
}
.card_user_btn {
	width: 77px;
	height: 39px;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	/* Primary Blue */
	border: none;
	background: #1da1f2;
	opacity: 0.5;
	border-radius: 9999px;
	color: white;
}
.strech {
	padding: 0;
	margin: 0;
	height: 10px;
	background: #1c2733;
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	border: #5b7083;
	width: 100%;
}
.small-scretch-bottom {
	background: #3a444c;
	height: 1px;
}
.small-scretch {
	background: #3a444c;
	height: 1px;
	margin-top: 10px;
}
.card_post {
	padding-top: 1rem;
}
.card-post_images {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 480px;
	margin: 0 auto;
	padding-top: 10px;
}
.card-post_span {
	color: #8899a6;
	display: flex;
	align-items: center;
}
.card-post_span_like {
	color: #f4245e;
	display: flex;
	align-items: center;
}
