.card {
    width: 600px;
    margin: 0 auto;
}
.card_title {
    font-size: 19px;
    color: white;
}
.card_user {
    margin-top: 10px;
}
.card_user_inp {
    width: 100%;
    outline:none;
    border: 0 solid #17202A;
    color: #5B7083;
    font-weight: 500;
    font-size: 20px;
    padding-left: 1rem;
    background-color: #17202A;
}
.card-sholder {
    padding-left: 15px ;
}
.card_user_btn {
    width: 77px;
    height: 39px;
    right: 0px;
    top: 59px;

    /* Primary Blue */
    border: none;
    background: #1DA1F2;
    opacity: 0.5;
    border-radius: 9999px;
    color: white;
}
.strech {
    height: 10px;
    background: #1C2733;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    border: #5B7083;
}
.small-scretch-bottom {
    background: #3A444C;
    height: 1px;
}
.small-scretch {
    background: #3A444C;
    height: 1px;
    margin-top: 10px;
}
.card_post {
    padding-top: 1rem;
}
.card-post_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
    padding-top: 10px;
}
.card-post_span {
    color: #8899A6;
    display: flex;
    align-items: center;
}
.card-post_span_like {
    color: #F4245E;
    display: flex;
    align-items: center;
}