body {
	justify-content: center;
}

.aboutSideWrapper > ul > li {
	list-style-type: none;
}
.loginSide {
	background-color: #fff;
}
 
.css-ncz0sk-MuiTypography-root-MuiDialogTitle-root{
	color: #fff;
}

