.cu-p {
	cursor: pointer;
}
.container_navbar {
	margin-top: 15px;
	position: fixed;
	width: 275px;
	margin-left: 90px;
	display: flex;
	flex-direction: column;
	& > div {
		margin-left: 20px;
	}
	& > button {
		color: #fff;
		justify-content: center;
		align-items: center;
		padding: 14px 82px;
		gap: 10px;
		width: 228px;
		height: 49px;
		background: #1da1f2;
		border-radius: 9999px;
		margin-left: 10px;
		font-weight: 700;
		font-size: 15px;
		line-height: 19px;
	}
	& > .container_navbar__profile {
		margin-top: 155px;
		margin-bottom: 20px;
	}
}
.twitter_icon-img {
	margin-top: 10px;
	margin-bottom: 23px;
	color: #fff;
	padding-left: 12px;
}
.homeIcon {
	display: flex;
	align-items: center;
	& > img {
		margin-right: 10px;
	}
	& > h6 {
		color: white;
	}
}
.twiiter_icons {
	display: flex;
	align-items: center;
	height: 26px;
	width: 177px;
	padding: 12px;
	margin-bottom: 16px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.2s;
	border-radius: 30px;
	
	&:hover{
		background: #888888;
	}
}
.card_user_icon {
	width: 39px;
	height: 39px;
	left: 0px;
	top: 10px;
	border-radius: 99999px;
}
.css-1oq25t-MuiButtonBase-root-MuiButton-root{
	text-transform: none;
}