.addForm {
	padding: 20px;
	background-color: #17202a;
}
.addFormBody {
	display: flex;
	width: 100%;
	& > textarea {
		&:focus {
			color: #fff;
		}
	}
}
.addFormBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addFormBottomActions {
	padding-left: 70px;
}
.addFormTextarea {
	width: 100%;
	border: 0;
	font-size: 20px;
	outline: none;
	background-color: #17202a !important;
	font-family: inherit;
	resize: none;
}
.addFormBottomLine {
	height: 12px;
	background-color: #e6ecf0 !important;
}
.addFormCircleProgress {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 10px;
	& .MuiCircularProgress-root {
		position: absolute !important;
	}
}
.addFormBottomRight {
	display: flex;
	align-items: center;
	& > span {
		color: #fff;
	}
}
.tweetAvatar {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.tweetFooter {
	position: relative;
	left: -9;
	display: flex !important;
	width: 450px;
}

.css-ncz0sk-MuiTypography-root-MuiDialogTitle-root {
	background-color: #17202a;
}
.css-ypiqx9-MuiDialogContent-root {
	background-color: #17202a;
}

.css-z2ws33-MuiInputBase-root-MuiFilledInput-root {
	background-color: #17202a !important;
	color: #fff !important;
}

.file__input {
	margin-top: 8px;
	& > svg {
		width: 26px;
		height: 26px;
		color: #3aa2f2;
	}
}


.emoji {
  width: 40px;
  cursor: pointer;
  position: relative;
}

.emoji img {
  vertical-align: middle;
}

.emojies {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}
.addTweetEmojies{
  position: absolute;
  left: 50%;
  transform: translatey(115%);
  bottom: 100%;
}
